<div class="sticker">
  <div class="wrapper">
    <div class="field"  *ngIf="label.to">
      <div class="label">Destination</div>
      <div class="text">{{label.to}}</div>
    </div>
    <div class="field" *ngIf="id">
      <div class="text center">
        <qrcode
        [qrdata]="id"
        [cssClass]="'center'"
        [colorDark]="'#000000'"
        [colorLight]="'#ffffff'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'M'"
        [margin]="4"
        [scale]="64"
        [width]="200"
      ></qrcode>
      </div>
    </div>
    <div class="field" *ngIf="item || label.description">
      <div class="label">Description</div>
      <div class="text">{{label.quantity}} {{item || label.description}}</div>
    </div>
    <div class="field" *ngIf="label.from">
      <div class="label">Return Address</div>
      <div class="text">{{label.from}}</div>
    </div>
  </div>
</div>

<div class="dots">
  IMPORTANT Do Not Bend
</div>
