<div class="sticker">
  <p-timeline [value]="timeline.events" align="left">
    <ng-template pTemplate="opposite" let-event>
      {{event.date}}
    </ng-template>
    <ng-template pTemplate="content" let-event>
      {{event.description}}
    </ng-template>
  </p-timeline>
  <p-timeline [value]="timeline.future" align="left">
    <ng-template pTemplate="opposite" let-event>
      {{event.date}}
    </ng-template>
    <ng-template pTemplate="content" let-event>
      {{event.description}}
    </ng-template>
  </p-timeline>
</div>
