<div class="title-font">{{item}} Tracker</div>

<div *ngIf="loaded" class="wrapper">
  <div *ngIf="label" class="label">
    <app-label [label]="label" [id]="id" [item]="item"></app-label>
  </div>
  <div *ngIf="timeline" class="timeline">
    <div class="sticker">
      <app-timeline [timeline]="timeline"></app-timeline>
    </div>
  </div>
</div>
<div *ngIf="errored" class="error">
  <p-message severity="error">ah fuck, something screwed up. try refreshing?</p-message>
  <br/>
  <p-fieldset legend="Nerd shit" [toggleable]="true">
    <p class="nerd">
      {{errorMsg}}
    </p>
  </p-fieldset>
</div>
