<form [formGroup]="eventForm">
  <p-iconfield>
    <input type="text" pInputText formControlName="icon">
    <p-inputicon styleClass="material-symbols-outlined">{{eventForm.value.icon}}</p-inputicon>
  </p-iconfield>

  <br />
  <p-datepicker formControlName="date" dateFormat="yy-mm-dd" [showTime]="true" hourFormat="24" [showButtonBar]="true"></p-datepicker>
  <br />
  <br />
  <textarea pTextarea formControlName="description"></textarea>
</form>

<p class="output">
  <button pButton severity="secondary" class="right" aria-label="copy" (click)="copy()">
    <span class="material-symbols-outlined">content_copy</span>
  </button>
  {{raw}}
</p>
