.output {
  font-family: "Cutive Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9em;
}

$input-width: 12em;

input {
  width: $input-width;
}

p-iconfield {
  --p-icon-size: 24px;
  width: $input-width;
  p-inputicon {
    width: var(--p-icon-size);
    overflow: hidden;
  }
}
