.output {
  font-family: "Cutive Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9em;
}

.p-textarea {
  width: 100%;
}

.icons {
  margin-right: 10px;
  margin-bottom: 10px;
}

.right {
  float: right;
  margin-right: 0px;
}
