$material-symbols-font-path: 'material-symbols/';
@use 'material-symbols/outlined';

.title-font {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

body {
  background-color: #816648;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

.sticker {
  background-color: white;
  border-radius: 0.5em;
  margin: 2em 2em 1em;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@media (prefers-color-scheme: dark) {
  .sticker {
    background-color: white;
  }

  body {
    color: black;
  }
}

$input-width: 12em;

input {
  width: $input-width;
}

p-iconfield {
  --p-icon-size: 24px;
  width: $input-width;
  p-inputicon {
    width: var(--p-icon-size);
    overflow: hidden;
  }
}

p-datepicker {
  span.p-datepicker {
    width: $input-width;
  }
}
