::ng-deep .p-timeline-event-content {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

.date {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 0.85em;
}
