<p-timeline [value]="events" align="left" [class]="class">
  <ng-template pTemplate="opposite" let-event>
    <ng-container *ngIf="event.datetime && event.datetime.isValid">
      @for (zone of timezones; track $index) {
        @if (zone == '_') {
          <span class="date">{{event.datetime.toFormat(format)}}</span>
        } @else {
          <span class="date">{{event.datetime.setZone(zone).toFormat(format)}}</span>
        }
        <br />
      }
    </ng-container>
  </ng-template>
  <ng-template pTemplate="marker" let-event>
    <span class="material-symbols-outlined">{{event.icon}}</span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
    {{event.description}}
  </ng-template>
</p-timeline>
